.popup__button-save {
  display: block;
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  height: 50px;
  opacity: 1;
  transition: opacity .2s linear;
}

.popup__button-save:hover {
  opacity: .8;
}