.popup-edit__user {
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup-edit__user:last-of-type {
  margin-bottom: 54px;
}

.popup-edit__user:focus {
  outline-color: #0099eb;
}

@media screen and (max-width: 450px) {
  .popup-edit__user {
    margin-bottom: 34px;
  }
}

@media screen and (max-height: 425px) {
  .popup-edit__user:last-of-type {
    margin-bottom: 34px;
  }
}
